In [0]:

#importing all necessary libraries
import pandas as pd
import numpy as np
from sys import getsizeof

In [0]:
df_train = pd.read_csv("https://mydmtbucket.s3-ap-southeast-1.amazonaws.com/training_set_VU_DM.csv")

In [0]:
df_train.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4958347 entries, 0 to 4958346
Data columns (total 54 columns):
 #   Column                       Dtype
---  ------                       -----
 0   srch_id                      int64
 1   date_time                    object
 2   site_id                      int64
 3   visitor_location_country_id  int64
 4   visitor_hist_starrating      float64
 5   visitor_hist_adr_usd         float64
 6   prop_country_id              int64
 7   prop_id                      int64
 8   prop_starrating              int64
 9   prop_review_score            float64
 10  prop_brand_bool              int64
 11  prop_location_score1         float64
 12  prop_location_score2         float64
 13  prop_log_historical_price    float64
 14  position                     int64
 15  price_usd                    float64
 16  promotion_flag               int64
 17  srch_destination_id          int64
 18  srch_length_of_stay          int64
 19  srch_booking_window          int64
 20  srch_adults_count            int64
 21  srch_children_count          int64
 22  srch_room_count              int64
 23  srch_saturday_night_bool     int64
 24  srch_query_affinity_score    float64
 25  orig_destination_distance    float64
 26  random_bool                  int64
 27  comp1_rate                   float64
 28  comp1_inv                    float64
 29  comp1_rate_percent_diff      float64
 30  comp2_rate                   float64
 31  comp2_inv                    float64
 32  comp2_rate_percent_diff      float64
 33  comp3_rate                   float64
 34  comp3_inv                    float64
 35  comp3_rate_percent_diff      float64
 36  comp4_rate                   float64
 37  comp4_inv                    float64
 38  comp4_rate_percent_diff      float64
 39  comp5_rate                   float64
 40  comp5_inv                    float64
 41  comp5_rate_percent_diff      float64
 42  comp6_rate                   float64
 43  comp6_inv                    float64
 44  comp6_rate_percent_diff      float64
 45  comp7_rate                   float64
 46  comp7_inv                    float64
 47  comp7_rate_percent_diff      float64
 48  comp8_rate                   float64
 49  comp8_inv                    float64
 50  comp8_rate_percent_diff      float64
 51  click_bool                   int64
 52  gross_bookings_usd           float64
 53  booking_bool                 int64
dtypes: float64(34), int64(19), object(1)
memory usage: 2.3 GB

In [0]:
for dtype in ['float','int','object']:
    selected_dtype = df_train.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:03.2f} MB".format(dtype,mean_usage_mb))

Average memory usage for float columns: 36.75 MB
Average memory usage for int columns: 35.94 MB
Average memory usage for object columns: 179.69 MB

In [0]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [0]:
df_train_int =  df_train.select_dtypes(include=['int'])
converted_int = df_train_int.apply(pd.to_numeric, downcast='unsigned')
print(mem_usage(df_train_int))
print(mem_usage(converted_int))
compare_ints = pd.concat([df_train_int.dtypes, converted_int.dtypes], axis=1)
compare_ints.columns =  ['before','after']
compare_ints.apply(pd.Series.value_counts)

718.75 MB
127.67 MB

        before  after
uint8      NaN   15.0
uint16     NaN    2.0
uint32     NaN    2.0
int64     19.0    NaN

In [0]:
df_train_float =  df_train.select_dtypes(include=['float'])
converted_float = df_train_int.apply(pd.to_numeric, downcast='float')
print(mem_usage(df_train_float))
print(mem_usage(converted_float))
compare_floats = pd.concat([df_train_float.dtypes, converted_float.dtypes], axis=1)
compare_floats.columns =  ['before','after']
compare_floats.apply(pd.Series.value_counts)

1286.19 MB
359.38 MB

         before  after
float32     NaN   19.0
float64    34.0    NaN

In [0]:
optimized_df_train = df_train.copy()
optimized_df_train[converted_int.columns] = converted_int
optimized_df_train[converted_float.columns] = converted_float
print(mem_usage(df_train))
print(mem_usage(optimized_df_train))

2364.32 MB
2004.95 MB

In [0]:
date = optimized_df_train.date_time
print(mem_usage(date))
date.head()

359.38 MB

0    2013-04-04 08:32:15
1    2013-04-04 08:32:15
2    2013-04-04 08:32:15
3    2013-04-04 08:32:15
4    2013-04-04 08:32:15
Name: date_time, dtype: object

In [0]:
optimized_df_train['date_time'] = pd.to_datetime(date, format='%Y-%m-%d %H:%M:%S')
print(mem_usage(optimized_df_train))
optimized_df_train.date_time.head()

1683.40 MB

0   2013-04-04 08:32:15
1   2013-04-04 08:32:15
2   2013-04-04 08:32:15
3   2013-04-04 08:32:15
4   2013-04-04 08:32:15
Name: date_time, dtype: datetime64[ns]

In [0]:
dtypes = optimized_df_train.drop('date_time', axis=1).dtypes
dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]
column_types = dict(zip(dtypes_col,dtypes_type))
preview = first2pairs = {key:value for key,value in list(column_types.items())[:54]}
import pprint as pp
pp = pp.PrettyPrinter(indent=4)
pp.pprint(preview)

{   'booking_bool': 'float32',
    'click_bool': 'float32',
    'comp1_inv': 'float64',
    'comp1_rate': 'float64',
    'comp1_rate_percent_diff': 'float64',
    'comp2_inv': 'float64',
    'comp2_rate': 'float64',
    'comp2_rate_percent_diff': 'float64',
    'comp3_inv': 'float64',
    'comp3_rate': 'float64',
    'comp3_rate_percent_diff': 'float64',
    'comp4_inv': 'float64',
    'comp4_rate': 'float64',
    'comp4_rate_percent_diff': 'float64',
    'comp5_inv': 'float64',
    'comp5_rate': 'float64',
    'comp5_rate_percent_diff': 'float64',
    'comp6_inv': 'float64',
    'comp6_rate': 'float64',
    'comp6_rate_percent_diff': 'float64',
    'comp7_inv': 'float64',
    'comp7_rate': 'float64',
    'comp7_rate_percent_diff': 'float64',
    'comp8_inv': 'float64',
    'comp8_rate': 'float64',
    'comp8_rate_percent_diff': 'float64',
    'gross_bookings_usd': 'float64',
    'orig_destination_distance': 'float64',
    'position': 'float32',
    'price_usd': 'float64',
    'promotion_flag': 'float32',
    'prop_brand_bool': 'float32',
    'prop_country_id': 'float32',
    'prop_id': 'float32',
    'prop_location_score1': 'float64',
    'prop_location_score2': 'float64',
    'prop_log_historical_price': 'float64',
    'prop_review_score': 'float64',
    'prop_starrating': 'float32',
    'random_bool': 'float32',
    'site_id': 'float32',
    'srch_adults_count': 'float32',
    'srch_booking_window': 'float32',
    'srch_children_count': 'float32',
    'srch_destination_id': 'float32',
    'srch_id': 'float32',
    'srch_length_of_stay': 'float32',
    'srch_query_affinity_score': 'float64',
    'srch_room_count': 'float32',
    'srch_saturday_night_bool': 'float32',
    'visitor_hist_adr_usd': 'float64',
    'visitor_hist_starrating': 'float64',
    'visitor_location_country_id': 'float32'}

In [0]:
read_and_optimized = pd.read_csv('https://mydmtbucket.s3-ap-southeast-1.amazonaws.com/training_set_VU_DM.csv', dtype=column_types, parse_dates=['date_time'],infer_datetime_format=True)
print(mem_usage(read_and_optimized))
#read_and_optimized.head()

1683.40 MB

In [0]:
#pd.set_option("max_rows", None)
read_and_optimized.describe()

            srch_id       site_id  ...  gross_bookings_usd  booking_bool
count  4.958347e+06  4.958347e+06  ...       138390.000000  4.958347e+06
mean   1.663566e+05  9.634107e+00  ...          386.283316  2.791051e-02
std    9.594463e+04  7.577309e+00  ...          821.190577  1.627631e-01
min    1.000000e+00  1.000000e+00  ...            0.000000  0.000000e+00
25%    8.293600e+04  5.000000e+00  ...          124.000000  0.000000e+00
50%    1.665070e+05  5.000000e+00  ...          218.400000  0.000000e+00
75%    2.497240e+05  1.400000e+01  ...          429.790000  0.000000e+00
max    3.327850e+05  3.400000e+01  ...       159292.380000  1.000000e+00

[8 rows x 53 columns]

In [0]:
#test_file = pd.read_csv("https://mydmtbucket.s3-ap-southeast-1.amazonaws.com/test_set_VU_DM.csv")

In [0]:
#test_file.info()
#read_and_optimized.info()

In [0]:
#submit_data = pd.read_csv("https://mydmtbucket.s3-ap-southeast-1.amazonaws.com/submission_sample.csv")

In [0]:
#submit_data.info()