In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, classification_report, precision_score, recall_score 
from sklearn.metrics import confusion_matrix, precision_recall_curve, roc_curve, auc, log_loss
from sklearn.linear_model import LogisticRegression

final_train = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data_train_downsampled.csv", sep = ',')
final_train.head(5)

   srch_id  site_id  ...  month  target
0        1       12  ...      4       0
1        1       12  ...      4       2
2        4        5  ...     12       0
3        4        5  ...     12       0
4        4        5  ...     12       0

[5 rows x 40 columns]

In [0]:
#Selected Features:
#'visitor_location_country_id', 'prop_country_id', 'prop_id', 'srch_destination_id', 'prop_location_score1', 'prop_location_score2', 'visitor_hist_starrating', 'visitor_hist_adr_usd',
selected_features = ['prop_brand_bool', 'prop_log_historical_price', 'promotion_flag',
                     'srch_length_of_stay', 'srch_saturday_night_bool', 'srch_query_affinity_score', 'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv', 'comp1_rate_percent_diff', 
                     'histpricediff', 'histstardiff', 'pricediff', 'stardiff', 'reviewscorediff', 'locationscore1diff', 'locationscore2diff', 'pricechange', 'hotel_count', 'popularity_score', 'is219', 
                     'usd_diff', 'prop_starrating_monotonic', 'room_count_booking_window', 'people_stay_count', 'month']

target_features = ['target']

In [0]:
final_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443758 entries, 0 to 443757
Data columns (total 40 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   srch_id                      443758 non-null  int64
 1   site_id                      443758 non-null  int64
 2   visitor_location_country_id  443758 non-null  int64
 3   visitor_hist_starrating      443758 non-null  float64
 4   visitor_hist_adr_usd         443758 non-null  float64
 5   prop_country_id              443758 non-null  int64
 6   prop_id                      443758 non-null  int64
 7   prop_review_score            443758 non-null  float64
 8   prop_brand_bool              443758 non-null  int64
 9   prop_location_score1         443758 non-null  float64
 10  prop_location_score2         443758 non-null  float64
 11  prop_log_historical_price    443758 non-null  float64
 12  position                     443758 non-null  int64
 13  promotion_flag               443758 non-null  int64
 14  srch_destination_id          443758 non-null  int64
 15  srch_length_of_stay          443758 non-null  int64
 16  srch_saturday_night_bool     443758 non-null  int64
 17  srch_query_affinity_score    443758 non-null  float64
 18  orig_destination_distance    443758 non-null  float64
 19  random_bool                  443758 non-null  int64
 20  comp1_rate                   443758 non-null  float64
 21  comp1_inv                    443758 non-null  float64
 22  comp1_rate_percent_diff      443758 non-null  float64
 23  histpricediff                443758 non-null  float64
 24  histstardiff                 443758 non-null  float64
 25  pricediff                    443758 non-null  float64
 26  stardiff                     443758 non-null  float64
 27  reviewscorediff              443758 non-null  float64
 28  locationscore1diff           443758 non-null  float64
 29  locationscore2diff           443758 non-null  float64
 30  pricechange                  443758 non-null  float64
 31  hotel_count                  443758 non-null  int64
 32  popularity_score             443758 non-null  float64
 33  is219                        443758 non-null  int64
 34  usd_diff                     443758 non-null  float64
 35  prop_starrating_monotonic    443758 non-null  float64
 36  room_count_booking_window    443758 non-null  int64
 37  people_stay_count            443758 non-null  int64
 38  month                        443758 non-null  int64
 39  target                       443758 non-null  int64
dtypes: float64(22), int64(18)
memory usage: 135.4 MB

In [0]:
#np.isnan(final_train).any()

In [0]:
#np.all(np.isfinite(final_train))

In [0]:
#final_train['pricechange'] = final_train['pricechange'].apply(lambda x: 0 if (x == np.inf) else x)
# final_train.index[np.isinf(X).any(1)]

In [0]:
final_train.replace([np.inf, -np.inf], np.nan, inplace=True)
final_train.fillna(0, inplace=True)

In [0]:
# final_train.index[np.isinf(X).any(1)]

In [0]:
final_train.iloc[214695]

srch_id                        161118.000000
site_id                            18.000000
visitor_location_country_id       164.000000
visitor_hist_starrating             3.450000
visitor_hist_adr_usd              152.240000
prop_country_id                   164.000000
prop_id                         52954.000000
prop_review_score                   4.500000
prop_brand_bool                     0.000000
prop_location_score1                3.740000
prop_location_score2                0.079800
prop_log_historical_price           3.870000
position                            2.000000
promotion_flag                      1.000000
srch_destination_id             17232.000000
srch_length_of_stay                 3.000000
srch_saturday_night_bool            0.000000
srch_query_affinity_score           0.000000
orig_destination_distance         386.600000
random_bool                         0.000000
comp1_rate                          0.000000
comp1_inv                           0.000000
comp1_rate_percent_diff             0.000000
histpricediff                     125.090000
histstardiff                        0.450000
pricediff                         -51.001935
stardiff                           -0.903226
reviewscorediff                     0.467742
locationscore1diff                  0.933548
locationscore2diff                  0.018577
pricechange                         0.000000
hotel_count                        21.000000
popularity_score                   10.500000
is219                               0.000000
usd_diff                          125.090000
prop_starrating_monotonic           0.312060
room_count_booking_window           1.000000
people_stay_count                   1.000000
month                              12.000000
target                              2.000000
Name: 214695, dtype: float64

In [0]:
# create X (features) and y (response)
X = final_train[selected_features]
y = final_train['target']

In [0]:
#np.any(np.isnan(X))

In [0]:
#np.all(np.isfinite(X))

In [0]:
#X = X.reset_index()

In [0]:
#np.any(np.isnan(X))

In [0]:
#np.all(np.isfinite(X))

In [0]:
#np.any(np.isnan(y))

In [0]:
#np.all(np.isfinite(y))

In [0]:
#np.isfinite(X)

In [0]:
#X.replace([np.inf, -np.inf], np.nan)

In [0]:
# # use train/test split with different random_state values
# # we can change the random_state values that changes the accuracy scores
# # the scores change a lot, this is why testing scores is a high-variance estimate
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

# # check classification scores of logistic regression
# logreg = LogisticRegression()
# logreg.fit(X_train, y_train)
# y_pred = logreg.predict(X_test)
# y_pred_proba = logreg.predict_proba(X_test)[:, 1]
# [fpr, tpr, thr] = roc_curve(y_test, y_pred_proba)
# print('Train/Test split results:')
# print(logreg.__class__.__name__+" accuracy is %2.3f" % accuracy_score(y_test, y_pred))
# print(logreg.__class__.__name__+" log_loss is %2.3f" % log_loss(y_test, y_pred_proba))
# print(logreg.__class__.__name__+" auc is %2.3f" % auc(fpr, tpr))

In [0]:
!pip install pyyaml h5py  # Required to save models in HDF5 format

Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (3.13)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (2.10.0)
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.6/dist-packages (from h5py) (1.18.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from h5py) (1.12.0)

In [0]:


# 10-fold cross-validation logistic regression
logreg = LogisticRegression()
logreg.max_iter = 7600
# Use cross_val_score function
# We are passing the entirety of X and y, not X_train or y_train, it takes care of splitting the data
# cv=10 for 10 folds
# scoring = {'accuracy', 'neg_log_loss', 'roc_auc'} for evaluation metric - althought they are many
scores_accuracy = cross_val_score(logreg, X, y, cv=10, scoring='accuracy')
scores_log_loss = cross_val_score(logreg, X, y, cv=10, scoring='neg_log_loss')
scores_auc = cross_val_score(logreg, X, y, cv=10, scoring='roc_auc')
print('K-fold cross-validation results:')
print(logreg.__class__.__name__+" average accuracy is %2.3f" % scores_accuracy.mean())
print(logreg.__class__.__name__+" average log_loss is %2.3f" % -scores_log_loss.mean())
print(logreg.__class__.__name__+" average auc is %2.3f" % scores_auc.mean())

K-fold cross-validation results:
LogisticRegression average accuracy is 0.687
LogisticRegression average log_loss is 0.611
LogisticRegression average auc is 0.586

In [0]:
# load the model from disk
# loaded_model = joblib.load(filename)
# result = loaded_model.score(X_test, Y_test)

In [0]:
final_test = pd.read_csv("/content/drive/My Drive/Colab Notebooks/test_final.csv", sep = ',')

In [0]:
final_test.replace([np.inf, -np.inf], np.nan, inplace=True)
final_test.fillna(0, inplace=True)

In [0]:
logreg.max_iter = 10000
logreg.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
X.head(5)

   prop_brand_bool  prop_log_historical_price  ...  people_stay_count  month
0                0                       4.14  ...                  4      4
1                1                       4.44  ...                  4      4
2                0                       5.39  ...                  1     12
3                1                       5.92  ...                  1     12
4                1                       5.25  ...                  1     12

[5 rows x 27 columns]

In [0]:
import joblib
filename = '/content/drive/My Drive/Colab Notebooks/saved_model/logreg_model.sav'
joblib.dump(logreg, filename)

['/content/drive/My Drive/Colab Notebooks/saved_model/logreg_model.sav']

In [0]:
final_test['target'] = logreg.predict(final_test[selected_features])

In [0]:
final_test.sort_values(["srch_id","target"],ascending=[True,False], inplace=True)

In [0]:
final_test[final_test.srch_id == 28].head(5)

     srch_id  site_id  ...  month  target
433       28        5  ...      4       2
432       28        5  ...      4       2
439       28        5  ...      4       2
440       28        5  ...      4       2
436       28        5  ...      4       0

[5 rows x 39 columns]

In [0]:
final_test.head(20)

    srch_id  site_id  ...  month  target
5         1       24  ...      2       2
6         1       24  ...      2       2
9         1       24  ...      2       2
12        1       24  ...      2       2
16        1       24  ...      2       2
23        1       24  ...      2       2
7         1       24  ...      2       2
8         1       24  ...      2       2
0         1       24  ...      2       2
4         1       24  ...      2       2
14        1       24  ...      2       2
17        1       24  ...      2       2
20        1       24  ...      2       2
1         1       24  ...      2       2
13        1       24  ...      2       2
21        1       24  ...      2       2
24        1       24  ...      2       2
2         1       24  ...      2       0
3         1       24  ...      2       0
10        1       24  ...      2       0

[20 rows x 39 columns]

In [0]:
submission = final_test[['srch_id','prop_id']]

In [0]:
submission.head(5)

    srch_id  prop_id
5         1    28181
6         1    34263
9         1    54937
12        1    61934
16        1    74045

In [0]:
submission.to_csv("/content/drive/My Drive/Colab Notebooks/submission_logreg.csv",index=False)